@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(31 41 55);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}